.comments-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 56px;
}

.comment-block {
	width: 100%;
	border: 2px solid white;
	border-radius: 24px;
	padding: 48px;
}

.comment-block:nth-child(n + 2) {
	margin-top: 24px;
}

h1 {
	text-align: center;
}

h3 {
	text-transform: uppercase;
}

p {
	margin-top: 24px;
}

h5 {
	margin-top: 16px;
}
