body {
	background-color: black;
	font-family: 'Signika Negative', sans-serif, Arial;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overscroll-behavior: none;
	color: white;
}

#smooth-content {
	overflow: visible;
	width: 100%;
}
